<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <header>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <div class="header-container">
      <div class="system-name">Rise note</div> 
  </header>

  <body style="overflow: hidden;">
    <%= yield %>
  </body>
</html>
