<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>

  <header>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <div class="header-container">
      <div class="system-name">❍Rise note</div> 
        <%# ログイン、ログアウト処理 %>
  <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
  <div class="header-buttons">
      <%= link_to 'Login', new_user_session_path  %>
  </div>
  </div>
  <% end %>
  </header>

  
    <%= yield %>
  </body>
 
</html>
