<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %><header>
        <div class="header-container">
          <div class="system-name">Rise note</div> 
          <div class="new-registration">
            <a href="https://example.com/register">ホーム</a>
        </div>
</heade>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
